* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
nav ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}
/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}
input,
select {
    vertical-align: middle;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
@font-face {
    font-family: 'futura_bk_btbook_italic';
    src: url('Fonts/bitstream_-_futura_bk_bt_book_italic-webfont.woff2') format('woff2'),
         url('Fonts/bitstream_-_futura_bk_bt_book_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futura_bk_btbook';
    src: url('Fonts/bitstream_-_futura_bk_bt_book-webfont.woff2') format('woff2'),
         url('Fonts/bitstream_-_futura_bk_bt_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futura_lt_btlight_italic';
    src: url('Fonts/bitstream_-_futura_lt_bt_light_italic-webfont.woff2') format('woff2'),
         url('Fonts/bitstream_-_futura_lt_bt_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futura_lt_btlight';
    src: url('Fonts/bitstream_-_futura_lt_bt_light-webfont.woff2') format('woff2'),
         url('Fonts/bitstream_-_futura_lt_bt_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'chunkfive_exregular';
    src: url('Fonts/chunkfive_ex-webfont.woff2') format('woff2'),
         url('Fonts/chunkfive_ex-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* econ-container starts */

.econ-container{

}

/* econ header */
.econ-header{
  background-color: #1f2b49;
}
.econ-hdr{
  width: 80%;
  margin: 0 auto;
}
.econ-logo{
    font-family: chunkfive_exregular;
    font-size: 60px;
    color: #6ae5af;
    display: inline-block;
    margin: 15px 0 5px 0;
}
.econ-left-menu{
  float: left;
}
.econ-hdr-menu{
  margin: 10px 0;
}
.econ-left-menu li, .econ-right-menu li{
  float: left;
  font-family: futura_lt_btlight;
}
.econ-left-menu li{
  margin: 0 40px 0 0;
}
.econ-right-menu li{
  margin-right: 10px;
}
.econ-left-menu li a{
  text-transform: uppercase;
  color:#fff;
  font-size: 12px;
  padding: 5px 10px;
  display: block;
}
.econ-left-menu li a.active{
  color: #6ae5af;
  border-radius: 30px;
  border:1px solid #6ae5af;
}
.econ-right-menu{
  float: right;
}
.econ-hdr-searchbox{
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 3px 10px;
}
.econ-right-menu li a{
  font-size: 12px;
  color: #ffffff;
  border-radius: 30px;
  border: 1px solid #ffffff;
  padding: 2px 10px 3px 10px;
  line-height: 20px;
}
.econ-todays{
  background-color: #171f35;
  border-top: 1px solid #f9f9f9;
  border-bottom: 1px solid #939299;
}
.econ-todays-date{

}
.econ-todays-events{
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
}
.econ-todays-events li:nth-child(2n+1){
  color: #b44776;
}
.econ-todays-events li:nth-child(2n+0){
  color:#dfc0b5
}
.econ-todays-events li{
  float: left;
  width: 20%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 20px;
  white-space: nowrap;
  font-family: futura_lt_btlight;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}
.econ-banner{
  background: #1f2b49;
}
.econ-ban-logo{
  font-family: chunkfive_exregular;
  font-size: 60px;
  color: #6ae5af;
  display: inline-block;
  margin: 88px 0 5px 0;
}
.econ-banner-content{
  width: 80%;
  margin: 0 auto;
}
.econ-ban-left{
  float: left;
  width: 50%;
}
.econ-ban-image{
  width: 100%;
}
.econ-ban-text{
  font-family: futura_lt_btlight;
  color: #Fff;
  width: 70%;
  line-height: 22px;
  font-size: 18px;
}
.econ-ban-email{
  width: 60%;
  line-height: 20px;
  margin: 20px 0;
  padding: 2px 5px;
  outline: none;
  font-family: futura_lt_btlight;
  border: none;
}
.econ-ban-signup{
  font-size: 13px;
  color: #6ae5af;
  border-radius: 30px;
  border: 1px solid #6ae5af;
  padding: 2px 30px 0px 30px;
  line-height: 23px;
  background-color: transparent;
  outline: none;
  text-transform: uppercase;
}
.econ-ban-right{
  float: right;
  width: 50%;
}
