@media all and (min-width: 769px) and (max-width: 960px) {
    .econ-left-menu li {
        margin: 0;
    }
    .econ-hdr-searchbox {
        width: 145px;
    }
}

@media all and (min-width: 769px) and (max-width: 1260px) {
    .econ-hdr, .econ-events-container, .econ-green-box-container, .econ-showcase-container, .econ-community-saying-container, .econ-footer-container, .econ-filters-container, .econ-events-title-header-container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .graph-record-1, .graph-record-2 {
        width: 50%;
    }
    .graph-record-3 {
        width: 100%;
        text-align: center;
    }
    .econ-ed-heading {
        font-size: 22px;
    }
    .econ-green-bar span, .econ-blue-bar span {
        font-size: 75px;
    }
    .econ-points-bar-date-top {
        display: block;
        font-size: 36px;
    }
    .econ-points-bar h4 {
        font-size: 22px;
        padding: 25px 0 0 30px;
    }
    .upvotes, .downvotes {
        width: 100%;
        text-align: center;
        padding-bottom: 15px;
    }
    .econ-el-name {
        padding: 16px 0;
        width: 64%;
    }
    .econ-el-level {
        padding: 2px 5px;
    }
    .econ-el-detail-time {
        padding: 0 10px;
    }
    .econ-el-detail-name {
        padding: 0 15px;
    }
    .econ-el-detail-desc {
        padding: 0 10px;
        font-size: 14px;
    }
    .econ-el-month {
        width: 13%;
    }
    .econ-el-previous {
        width: 8%;
    }
    .econ-el-forecast {
        width: 8%;
    }
    .econ-el-actual {
        width: 7%;
    }
}
